* {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Winterthur';
	src: url("../fonts/WinterthurCondensed-webfont.eot");
	src: url("../fonts/WinterthurCondensed-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/WinterthurCondensed-webfont.woff") format("woff"),url("..fonts/WinterthurCondensed-webfont.ttf") format("truetype"),url("..fonts/WinterthurCondensed-webfont.svg#winterthurcondensedregular") format("svg");
}

html {
	background: url("../images/asteroids.png") repeat;
}

#modal {
	display: block;
	width: 100%;
	height: 100%;
	margin-left: 0;
	padding: 0;
	left: 0;
	top: 0;
	text-align: center;
	color: white;
	margin-top: 10%;
}

#modal p {
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: left;
	font-family: 'Winterthur', sans-serif;
	font-size: 22px;
	font-weight: 400;
}

#modal p.disclaimer {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	max-width: 550px;
	display: block;
	line-height: 1.6;
	padding-left: 20px;
	padding-right: 40px;
	text-align: center;
}

span {
	text-transform: uppercase;
}

#logo {
	width: 500px;
	height: 140px;
	display: block;
	margin-top: 10%;
}

#enter {
	display: block;
	color: white;
	width: 150px;
	height: 30px;
	padding: 10px;
	padding-top: 18px;
	margin-top: 40px;
	margin-bottom: 50px;
	text-decoration: none;
	text-shadow: 0 1px #e84a5f;
	border: 2px solid #e84a5f;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	transition: 0.2s;
	background: #ff847c;
}

#enter:hover {
	background: #f56e64;
	border-bottom: 4px solid #e84a5f;
}

#space-man {
	display: block;
	width: 40%;
	height: 40%;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (min-width: 1px) {

#float-left {
	width: 100%;
	float: none;
}

#float-right {
	width: 100%;
	clear: both;
	float: none;
}

#enter {
	margin-left: auto;
	margin-right: auto;
}

#logo {
	margin-left: auto;
	margin-right: auto;
}

}

@media only screen and (min-width: 1140px) {

#float-left {
	width: 50%;
}

#float-right {
	width: 50%;
	clear: none;
}

#float-right,
#float-left {
	float: left;
	text-align: center;
	margin-bottom: 10%;
}

#enter {
	margin-left: 20%;
}

#logo {
	margin-left: 0;
}

}

